USE [ESTUDO_INDICE]
GO
/****** Object:  Table [dbo].[CLUSTERED_DEMO]    Script Date: 09/07/2018 21:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLUSTERED_DEMO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GUID] [uniqueidentifier] NOT NULL,
	[NAME] [nvarchar](200) NOT NULL,
	[DT_NASCIMENTO] [datetime] NOT NULL,
	[ENDERECO] [nvarchar](max) NULL,
 CONSTRAINT [PK_CLUSTERED_DEMO_GUID] PRIMARY KEY NONCLUSTERED 
(
	[GUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_CLUSTERED_ID]    Script Date: 09/07/2018 21:06:36 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_CLUSTERED_ID] ON [dbo].[CLUSTERED_DEMO]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTUDANTES]    Script Date: 09/07/2018 21:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTUDANTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PRIMEIRO_NOME] [varchar](50) NULL,
	[ULTIMO_NOME] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INDEX_TYPES_DEMO]    Script Date: 09/07/2018 21:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INDEX_TYPES_DEMO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[ENDERECO] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEDICOS]    Script Date: 09/07/2018 21:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEDICOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CRA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IDX_UQ_CRA] UNIQUE NONCLUSTERED 
(
	[CRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NONCLUSTERED_DEMO]    Script Date: 09/07/2018 21:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NONCLUSTERED_DEMO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DT_NASCIMENTO] [datetime] NULL,
	[TELEFONE] [varchar](20) NULL,
	[ENDERECO] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_NONCLUSTERED_ID]    Script Date: 09/07/2018 21:06:36 ******/
CREATE UNIQUE CLUSTERED INDEX [IX_NONCLUSTERED_ID] ON [dbo].[NONCLUSTERED_DEMO]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EST_PN_UN]    Script Date: 09/07/2018 21:06:36 ******/
CREATE NONCLUSTERED INDEX [IX_EST_PN_UN] ON [dbo].[ESTUDANTES]
(
	[PRIMEIRO_NOME] ASC,
	[ULTIMO_NOME] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_INDEX_FILTRADO_NAME]    Script Date: 09/07/2018 21:06:36 ******/
CREATE NONCLUSTERED INDEX [IX_INDEX_FILTRADO_NAME] ON [dbo].[INDEX_TYPES_DEMO]
(
	[NAME] ASC
)
WHERE ([NAME] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NONCLUSTERED_NAME]    Script Date: 09/07/2018 21:06:36 ******/
CREATE NONCLUSTERED INDEX [IX_NONCLUSTERED_NAME] ON [dbo].[NONCLUSTERED_DEMO]
(
	[NAME] ASC
)
INCLUDE ( 	[ID],
	[ENDERECO],
	[TELEFONE],
	[DT_NASCIMENTO]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
GO
